<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <script src="https://kit.fontawesome.com/ffc1627107.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- 前台 header -->
    <header class="d-flex justify-content-between align-items-center container">
      <h1 class="fw-bold fs-4">
        <a href="index.html" class="d-inline-block link-black py-7">WOWOROOM</a>
      </h1>
      <nav>
        <ul class="d-flex">
          <li><a href="#!" class="text-black px-7 py-7">床墊優勢</a></li>
          <li><a href="#!" class="text-black px-7 py-7">好評推薦</a></li>
          <li><a href="#!" class="text-black px-7 py-7">運送方式</a></li>
          <li><a href="#!" class="text-primary px-7 py-7">立即預訂</a></li>
          <li><a href="#!" class="text-black px-7 py-7">後台</a></li>
        </ul>
      </nav>
    </header>

    <!-- 後台 header -->
    <header class="d-flex justify-content-between align-items-center d-none">
      <h1 class="fw-bold fs-4">
        <a href="index.html" class="d-inline-block link-black py-7">WOWOROOM</a>
      </h1>
      <nav>
        <ul class="d-flex">
          <li><a href="#!" class="text-primary px-7 py-7">後臺管理</a></li>
          <li><a href="#!" class="text-black px-7 py-7">管理員登入</a></li>
        </ul>
      </nav>
    </header>

    <div class="black-bar"></div>

    <%- contents %>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>